---
- name: Installation NRPE pour Centreon
  hosts: test
  become: true

  vars:
    centreon_ip: "192.168.1.3,192.168.2.2"
    allowed_hosts: "127.0.0.1,{{ centreon_ip }}"

  tasks:
    - name: Installer le dépôt EPEL
      dnf:
        name: epel-release
        state: present

    - name: Installer NRPE et les plugins
      dnf:
        name:
          - nrpe
          - nagios-plugins-disk
          - nagios-plugins-load
          - nagios-plugins-procs
          - nagios-plugins-users
          - nagios-plugins-swap
          - nagios-plugins-uptime
          - nagios-plugins-ntp
        state: present

    - name: Configurer l'IP autorisée (allowed_hosts)
      lineinfile:
        path: /etc/nagios/nrpe.cfg
        regexp: "^allowed_hosts="
        line: "allowed_hosts={{ allowed_hosts }}"
      notify: Redémarrer NRPE

    - name: Activer les arguments de commande (dont_blame_nrpe)
      lineinfile:
        path: /etc/nagios/nrpe.cfg
        regexp: "^dont_blame_nrpe="
        line: "dont_blame_nrpe=1"
      notify: Redémarrer NRPE

    - name: S'assurer que NRPE lit le dossier de conf externe
      lineinfile:
        path: /etc/nagios/nrpe.cfg
        regexp: "^include_dir=/etc/nrpe.d"
        line: "include_dir=/etc/nrpe.d"
        state: present

    - name: Créer le fichier de définitions pour Centreon
      copy:
        dest: /etc/nrpe.d/centreon.cfg
        content: |
          # Dictionnaire des commandes autorisées
          command[check_load]=/usr/lib64/nagios/plugins/check_load -w 5,4,3 -c 10,8,6
          command[check_disk]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% -p /
          command[check_swap]=/usr/lib64/nagios/plugins/check_swap -w 50% -c 20%
          command[check_uptime]=/usr/lib64/nagios/plugins/check_uptime
          command[check_ntp]=/usr/lib64/nagios/plugins/check_ntp_time -H fr.pool.ntp.org -w 0.5 -c 1
        owner: root
        group: root
        mode: "0644"
      notify: Redémarrer NRPE

    - name: Ouvrir le port 5666 dans le pare-feu
      firewalld:
        port: 5666/tcp
        permanent: yes
        state: enabled
        immediate: yes

    - name: Démarrer et activer NRPE
      service:
        name: nrpe
        state: started
        enabled: yes

  handlers:
    - name: Redémarrer NRPE
      service:
        name: nrpe
        state: restarted
