---
- name: Installation NRPE pour Centreon
  hosts: test
  become: true

  vars:
    centreon_ip: "192.168.1.3,192.168.2.2"
    allowed_hosts: "127.0.0.1,{{ centreon_ip }}"

  roles:
    - nrpe_agent
