---
- name: 1. Définir les variables et l'IP autorisée
  ansible.builtin.set_fact:
    snmp_package: "{{ 'net-snmp' if ansible_os_family == 'RedHat' else 'snmpd' }}"
    allowed_ip: "192.168.2.2" 

- name: 2. Installer le paquet SNMP
  ansible.builtin.package:
    name: "{{ snmp_package }}"
    state: present

- name: 3. Configurer le Firewall - Ouvrir le port SNMP UDP/161
  ansible.posix.firewalld:
    zone: public
    permanent: yes
    immediate: yes
    state: enabled
    rich_rule: "rule family='ipv4' source address='{{ allowed_ip }}' port protocol=udp port=161 accept"
  when: ansible_os_family == 'RedHat'

- name: 3b. Configurer le Firewall - Autoriser le Ping (ICMP)
  ansible.posix.firewalld:
    zone: public
    permanent: yes
    immediate: yes
    state: enabled
    # Autorise toutes les requêtes ICMP (dont le Ping) provenant du poller
    rich_rule: "rule family='ipv4' source address='{{ allowed_ip }}' protocol value='icmp' accept"
  when: ansible_os_family == 'RedHat'

- name: 4. Vérifier le statut de snmpd
  ansible.builtin.service:
    name: snmpd
    state: started
    enabled: yes

- name: 5. Deployer la configuration (snmpd.conf)
  ansible.builtin.template:
    src: snmpd.conf.j2
    dest: /etc/snmp/snmpd.conf
    mode: '0644'
  vars:
    snmp_poller_ip: "{{ allowed_ip }}"
  register: snmpd_conf

- name: 6. Rédémarrer le service
  ansible.builtin.service:
    name: snmpd
    state: restarted
  when: snmpd_conf is changed

- name: 7. Test
  ansible.builtin.command: >
    snmpget -v 2c -c {{ snmp_community_string | default('public') }}
    127.0.0.1 1.3.6.1.2.1.1.1.0
  register: result
  changed_when: false
  failed_when: "'No Response' in result.stderr"

- name: 8. CLAPI - Ajouter/Modifier l'hôte (ADD) avec le format exact
  ansible.builtin.command: >
    /usr/share/centreon/bin/centreon -u admin -p Centreon!admin 
    -o HOST -a ADD -v "{{ inventory_hostname }};{{ inventory_hostname }};{{ ansible_host }};template-linux-snmp-custom;Central"
  delegate_to: "central"
  become: true # <-- AJOUTER CETTE LIGNE
  register: clapi_add_result
  changed_when: clapi_add_result.rc != 0
  ignore_errors: true 

- name: 9. CLAPI - Mettre à jour l'adresse IP (SET)
  ansible.builtin.command: >
    /usr/share/centreon/bin/centreon -u admin -p Centreon!admin 
    -o HOST -a SET -v "{{ inventory_hostname }};address;{{ ansible_host }}"
  delegate_to: "central"
  become: true # <-- AJOUTER CETTE LIGNE
  when: clapi_add_result is failed or clapi_add_result is success
  changed_when: True 

- name: 10. CLAPI - Exporter et Redémarrer le moteur de supervision
  ansible.builtin.command: >
    /usr/share/centreon/bin/centreon -u admin -p Centreon!admin 
    -o CONFIGURATION -a APPLYPOLICIES
  delegate_to: "central"
  become: true # <-- AJOUTER CETTE LIGNE
  changed_when: True